@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		--background: 220 20% 7%;
		--foreground: 213 31% 91%;
		--card: 222 25% 11%;
		--card-foreground: 213 31% 91%;
		--muted: 220 20% 14%;
		--muted-foreground: 215 16% 47%;
		--primary: 225 70% 54%;
		--primary-foreground: 0 0% 100%;
		--border: 220 20% 18%;
		--ring: 225 70% 54%;
		--destructive: 0 63% 60%;
		--destructive-foreground: 0 0% 100%;
		--input: 220 20% 14%;
	}

	body {
		@apply bg-background text-foreground;
	}
}
